In [68]:
import urllib.request, json, requests
import pandas as pd

In [57]:
#from open data
locations_url = 'https://data.cityofnewyork.us/resource/smn3-rzf9.csv'

In [58]:
locations_raw = pd.read_csv(locations_url)

In [59]:
#create & clean table of counter locations

locations = locations_raw[['name', 'id', 'sens', 'counter']]
locations = locations[locations['sens']==0] #includes just the sum of all counts at a location
locations = locations[~locations['name'].str.contains("Interference")] #selects out calibration counters
locations = locations[locations['counter'].notnull()] #selects only active counters

locations

                                     name         id  sens      counter
5                     8th Ave at 50th St.  100057316     0  Y2H18055363
7                   Kent Avenue Bike Path  100010019     0  Y2H13094302
10                     Prospect Park West  100009425     0  Y2H13094304
14  Ed Koch Queensboro Bridge Shared Path  100009428     0  Y2H19111445
15                 1st Avenue - 26th St N  100010020     0  Y2H18044984
16               Columbus Ave at 86th St.  100057320     0  Y2H18055356
17  Manhattan Bridge Display Bike Counter  100047029     0  Y2H17062567
18                    Staten Island Ferry  100010017     0  Y2H13094300
19              Manhattan Bridge Ped Path  100009426     0  Y2H13074107
20                    Broadway at 50th St  100057318     0  Y2H18055362
21              Brooklyn Bridge Bike Path  100010022     0  Y2H13074106
22                         Pulaski Bridge  100010018     0  Y2H13094301
23              Amsterdam Ave at 86th St.  100057319     0  Y2H18055357
24          Williamsburg Bridge Bike Path  100009427     0  Y2H13074108

In [164]:
# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)


#define functon to page through data and load data based on id
def load_data(id):
    l = [] #empty dataframe

    n=0 #set counter
    loc = 'id=' + str(id)
    lim=500000 #limit on API

    while True:
    # First 500000 results (max), returned as JSON from API / converted to Python list of
    # dictionaries by sodapy.
        results = client.get("uczf-rk3c", limit=lim, offset=lim*n, where=loc)
        frame = pd.DataFrame.from_records(results)
        #print(frame[0:1])
        l.append(frame)
        #print("n="+str(n))
        #print("length of l="+str(len(l)))
        n = n + 1
        if len(frame)<1:
            break
    
    return (pd.concat(l))

# Convert to pandas DataFrame
c = []
for id in locations['id']:
    print("loading data for location " + str(id))
    c.append(load_data(id))  

raw_counts = pd.concat(c)
len(raw_counts)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

loading data for location 100057316
loading data for location 100010019
loading data for location 100009425
loading data for location 100009428
loading data for location 100010020
loading data for location 100057320
loading data for location 100047029
loading data for location 100010017
loading data for location 100009426
loading data for location 100057318
loading data for location 100010022
loading data for location 100010018
loading data for location 100057319
loading data for location 100009427

1923801

In [159]:
#load interference dates (mannually entered as CSV from metadata in Open Data)
pd.read_csv('')

138566

     counts                     date         id status
0         0  2020-01-27T07:43:25.000  100009425      0
1        24  2020-01-27T07:45:00.000  100009425      0
2        13  2020-01-27T08:00:00.000  100009425      0
3        20  2020-01-27T08:15:00.000  100009425      0
4        22  2020-01-27T08:30:00.000  100009425      0
5        12  2020-01-27T08:45:00.000  100009425      0
6         6  2020-01-27T09:00:00.000  100009425      0
7        14  2020-01-27T09:15:00.000  100009425      0
8        24  2020-01-27T09:30:00.000  100009425      0
9        14  2020-01-27T09:45:00.000  100009425      0
10       30  2020-01-27T10:00:00.000  100009425      0
11       32  2020-01-27T10:15:00.000  100009425      0
12       22  2020-01-27T10:30:00.000  100009425      0
13       30  2020-01-27T10:45:00.000  100009425      0
14       20  2020-01-27T11:00:00.000  100009425      0
15       24  2020-01-27T11:15:00.000  100009425      0
16       29  2020-01-27T11:30:00.000  100009425      0
17       35  2020-01-27T11:45:00.000  100009425      0
18       35  2020-01-27T12:00:00.000  100009425      0
19       35  2020-01-27T12:15:00.000  100009425      0
20       33  2020-01-27T12:30:00.000  100009425      0
21       34  2020-01-27T12:45:00.000  100009425      0
22       41  2020-01-27T13:00:00.000  100009425      0
23       43  2020-01-27T13:15:00.000  100009425      0
24       33  2020-01-27T13:30:00.000  100009425      0
25       35  2020-01-27T13:45:00.000  100009425      0
26       31  2020-01-27T14:00:00.000  100009425      0
27       29  2020-01-27T14:15:00.000  100009425      0
28       30  2020-01-27T14:30:00.000  100009425      0
29       32  2020-01-27T14:45:00.000  100009425      0
...     ...                      ...        ...    ...
1970      2  2020-02-16T20:00:00.000  100009425      0
1971      2  2020-02-16T20:15:00.000  100009425      0
1972      5  2020-02-16T20:30:00.000  100009425      0
1973      1  2020-02-16T20:45:00.000  100009425      0
1974      1  2020-02-16T21:00:00.000  100009425      0
1975      6  2020-02-16T21:15:00.000  100009425      0
1976      1  2020-02-16T21:30:00.000  100009425      0
1977      0  2020-02-16T21:45:00.000  100009425      0
1978      2  2020-02-16T22:00:00.000  100009425      0
1979      0  2020-02-16T22:15:00.000  100009425      0
1980      3  2020-02-16T22:30:00.000  100009425      0
1981      1  2020-02-16T22:45:00.000  100009425      0
1982      0  2020-02-16T23:00:00.000  100009425      0
1983      1  2020-02-16T23:15:00.000  100009425      0
1984      0  2020-02-16T23:30:00.000  100009425      0
1985      1  2020-02-16T23:45:00.000  100009425      0
1986      0  2020-02-17T00:00:00.000  100009425      0
1987      2  2020-02-17T00:15:00.000  100009425      0
1988      1  2020-02-17T00:30:00.000  100009425      0
1989      2  2020-02-17T00:45:00.000  100009425      0
1990      5  2020-02-17T01:00:00.000  100009425      0
1991      5  2020-02-17T01:15:00.000  100009425      0
1992      3  2020-02-17T01:30:00.000  100009425      0
1993      7  2020-02-17T01:45:00.000  100009425      0
1994     10  2020-02-17T02:00:00.000  100009425      0
1995      2  2020-02-17T02:15:00.000  100009425      0
1996     14  2020-02-17T02:30:00.000  100009425      0
1997     12  2020-02-17T02:45:00.000  100009425      0
1998      7  2020-02-17T03:00:00.000  100009425      0
1999     12  2020-02-17T03:15:00.000  100009425      0

[2000 rows x 4 columns]